
/* GLOBAL */

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.banner{
	position: relative;
	background: url(./Images/image1.jpg) fixed no-repeat;
	min-height: 520px;
	text-align: center;
	color: #fff;
}

/* HOME PAGE */

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #fff 3px solid;
}

.c-logo {
  color: rgba(255, 255, 255, 0.5) !important;
}

.carousel-item {
  height: 460px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}

.carousel-indicators li {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
  opacity: 1;
  width: 20px;
  height: 1px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-inner .carousel-item {
  height: 520px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 520px;
}

.parallax {
  position: relative;
  background: url(./Images/lights.jpg) fixed no-repeat;
  min-height: 200px;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.video {
  position: relative;
  min-height: 200px;
  background: url(./Images/media.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

.video a {
  color: #fff;
}

.bg-black {
  background-color: #000000;
}

/* ABOUT US PAGE */

.img-info{
	margin-top: -95px;
}

/* BOXES SECTION */

.bc-red{
	background-color: #ff0000;
}

/* TESTIMONIAL SECTION */

.height{
    height: 100px;
}

.carousel-icon-width{
    width: 5%;
}

/* FAQ SECTION */

.bg-faq{
  background-color: #333333;
}

.faq .card {
	background-color: #212121;
	border: #444;
}

.faq a {
	text-decoration: blink;
	color: #fff;
  cursor: text;
}

/* BLOG SECTION */

.card-red{
  background: #ff0000;
}

.card-blue{
  background: #0000ff;
}

/* OUR STAFF SECTION */

.our-staff{
  background-color: #333333;
}

.our-staff hr{
  border-top: 1px solid #000000;
}